{{include './template/header.html'}}
<article class="content-article" style="background-color: var(--theme-background-articleitem);transition: all 0.6s ease;animation: themecolor 0.5s;">
  {{include './template/components/pstalk.html'}}
</article>
<aside class="right-aside">
  {{include './template/components/meMy.html'}}
  <!-- include './template/components/works.html' -->
  {{include './template/components/account.html'}}
  {{include './template/components/FriendlyLink.html'}}
</aside>
{{include './template/footer.html'}}