{{include './template/components/article/header.html'}}
<link rel="stylesheet" href="/Error.css">
<article class="content-article">
    <section id="DoEditor" class="imgEnlarge">
        <div class="PasswordError">
            <div class="PasswordError-div">
                <img src="/icon/lock.png" alt="">
                <p>本文章为加密文章请输入密码查看^_^</p>
                <input type="password" placeholder="{{viewdata.prompt}}" maxlength="10" class="password"
                    id="textbox_password" onkeydown="keyup_submit(event);">
                <button name="button" class="confirm" id="confirm" onclick="confirmclick()">确认</button>
            </div>
        </div>
    </section>
</article>
<script>
    document.getElementById("textbox_password").focus();
</script>
{{include './template/footer.html'}}