<section class="memy-box section-box">
  <div class="about-div">
    <div class="about">
      <a href="{{info.abouturl}}" rel="{{info.author}}">
        <img src="/my.png" alt="{{info.author}}">
        「{{info.author}}」</a>
    </div>
    <a href="{{info.abouturl}}" class="title" rel="{{info.author}}" title="{{info.author}}">「{{info.author}}」</a>
    <div class="openabout">
      <a href="{{info.abouturl}}">关于我</a>
    </div>
    <div class="mobile-social-intercourse">
      {{include './contact.html'}}
    </div><!-- 联系方式 -->
  </div>
</section><!-- 关于我 -->