<section class="placeonfile-box" style="margin-top:30px;">
  <a name="pstalk"></a>
  <p class="title"
    style="margin-bottom: 20px; color: var(--theme-h3-color);font-weight: 600;font-size: 24px;font-family: '宋体';">留言</p>
  <div id="vcomments"></div>
</section>
<script src='/valine.min.js'></script>
<script>
  new Valine({
    el: '#vcomments',
    appId: 'QQTf2EJqF659UiNkl4hkFAbP-gzGzoHsz',
    appKey: 'cLFODuzDH198AwY4tE1XAt57',
    avatar: 'retro',
    pageSize: "30",
    Boolean: "true",
    enableQQ: true,
    recordIP: true,
    visitor: true
  })
</script>