<section class="website section-box">
    <p class="blog-h3">Web info</p>
    <ul>
        <li>文章总数目：<span>{{contentData[current.reqcolkey].datalist.length}}&ensp;篇</span></li>
        <li>文章最后更新时间：<span
                id="blog-renew">{{contentData[current.reqcolkey].datalist[0].dateYY}}-{{contentData[current.reqcolkey].datalist[0].dateMM}}-{{contentData[current.reqcolkey].datalist[0].dateDD}}</span>
        </li>
        <li>网站运行时间：<span id="blog-runtime"></span></li>
    </ul>
    <script id="LA-DATA-WIDGET" crossorigin="anonymous" charset="UTF-8"
        src="https://v6-widget.51.la/v6/JyGR7IHSiSzvVYTU/quote.js?theme=0&f=12&display=0,1,0,0,0,0,1,1"></script>
</section><!-- 标签 -->