<section class="advertisement section-box">
  <p class="blog-h3">个人项目</p>
  <a href="http://www.duoyu.link" target="_blank" rel="注视笔记" title="注视笔记">
    <img src="https://picserver.duoyu.link/picfile/image/202306/07-1686097013096.png" alt="注视笔记" title="注视笔记">
  </a>
</section><!-- 我的作品1 -->

<section class="advertisement section-box">
  <a href="http://www.duoyu.link" target="_blank" rel="多鱼起始页" title="多鱼起始页">
    <img src="https://picserver.duoyu.link/picfile/image/202306/07-1686097214728.png" alt="多鱼起始页" title="多鱼起始页">
  </a>
</section><!-- 我的作品2 -->

<section class="advertisement section-box">
  <a href="http://www.duoyu.link" target="_blank" rel="多鱼-图床 PicDuoYU - Cloud" title="多鱼-图床 PicDuoYU - Cloud">
    <img src="https://picserver.duoyu.link/picfile/image/202306/07-1686097251837.jpg" alt="多鱼-图床 PicDuoYU - Cloud"
      title="多鱼-图床 PicDuoYU - Cloud">
  </a>
</section><!-- 我的作品3 -->