<div class="banner-box">

</div>
<div class="card-box">
  <div class="card-boxList">
    <section class="card-item">
      <div class="card-item-div">
        <p>hello</p>
        <h1>hgsdjsbf556646bjhjhgjgjvhjhdahkfdhksahkj</h1>
        <p>helldfsgggggggggggggggggggggggggggggggggggggggggggggggggggggggggghjo</p>
        <p>hello</p>
      </div>
    </section>
    <section class="card-item">
      <div class="card-item-div">
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
      </div>
    </section>
    {{each }}
    <section class="card-item">
      <div class="card-item-div">
        <p>hello</p>
        <p>hello</p>
        <p>hello</p>
      </div>
    </section>
    {{/each}}
    {{each }}
    <section class="card-item">
      <div class="card-item-div">
        <p>hello</p>
        <p>hello</p>
        <h1>55dskjh</h1>
        <p>hello</p>
      </div>
    </section>
    {{/each}}
  </div>
</div>