<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{viewdata.title}}</title>
    <meta name="description" content="{{info.author}}的{{viewdata.description}}">
    <meta name="keywords" content="{{info.keywords}},">
    <meta name="author" content="{{info.author}}" />
    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/cv.css">
    <link rel="stylesheet" href="/sspai.css">
    <script src="https://www.jsdelivr.com/package/npm/pdfjs-dist"></script>
</head>

<body>

    <div class="revert">
        <a href="/" rel="返回主页" title="返回主页"><img class="revert" src="/icon/returnicon.png" alt="返回主页"></a>
    </div> <!-- 返回按钮 -->